[submodule "repos/QuantLib"]
	path = repos/QuantLib
	url = https://github.com/lballabio/QuantLib.git
[submodule "repos/pybind11"]
	path = repos/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "repos/nanobench"]
	path = repos/nanobench
	url = https://github.com/martinus/nanobench.git
